<h1>Hello#index (Hello World!)<br>
	<small>This is the hello page. Hello!</small></h1>
<img src="https://pics.me.me/when-your-code-outputs-hello-world-4585493.png">
<p>You can get here through the document root or through &lt;the host url:3000&gt;/hello. This is done through angular routing, going to the Hello controller and the index action.</p>
<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
